body {
    background: #1c2541;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    position: sticky;
    top: 0;
    padding: 10px;
    background: #0b132b;
}

#nav .menu {
    margin-left: 15px;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    padding: 15px 10px;
    font-size: 18px;
    color: #dad3d5;
    transition: color .2s linear;
}

#nav ul {
    margin-left: 50px;
    list-style-type: none;
    overflow: hidden;
}

#nav li {
    float: left;
}

.support-server {
    border: 2px solid aqua;
    border-radius: 15px;
    transition: background .2s linear;
}

.support-server a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding: 15px 10px;
    display: inline-block;
    color: aqua;
    transition: color .2s linear;
}

.support-server:hover {
    background: aqua;
}

.support-server:hover a {
    color: white;
}

#nav .menu:hover {
    color: aqua;
}

#nav img {
    position: fixed;
    margin-top: -5px;
    margin-left: -50px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: #5bc0be;
    margin-top: 200px;
    margin-left: 150px;
}

th {
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 3px solid white;
    width: 800px;
}

table {
    width: 100%;
    margin-top: 2%;
}

th,
td {
    font-family: 'Nunito', sans-serif;
}

table {
    padding: 0px 50px;
}

td {
    color: white;
    margin-left: 10px;
    font-size: 16px;
    padding: 14px;
    border: 3px solid white;
    width: 800px;
}